/* Desktop */
.alert {
    color: red;
}

.alert::before{
    display: inline;
    content: "⚠ ";
}

.containerPassword {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.formGroup {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.formGroup input {
    margin-bottom: 2rem;
}


.input {
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    color: rgb(5, 155, 105);
    font-family: "Strait", sans-serif;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    outline: none;
}

.label {
    color: whitesmoke;
    font-family: "Strait", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.paw {
    align-items: center;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Strait", sans-serif;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.paw input {
    outline: none;
}

.paw:hover {
    color:rgb(5, 155, 105);
    fill: rgb(5, 155, 105);
}   

.pawIcon {
    margin-bottom: 0.25rem;
    width: 3rem;
}

